# Veritabanı Bağlantı (DBAPI)
![alt text](DBAPI.png)

In [1]:
import sqlite3

In [ ]:
con = sqlite3.connect("./data/mesajDB.db") #Data Source=c:\mydb.db;
#dir(con)

In [5]:
con.execute("""
CREATE TABLE mesajlar
(
    id int,
    mesaj nvarchar(100)            
)
            """)

In [ ]:
#con.execute("DROP TABLE mesajlar")

#
con.execute("INSERT INTO mesajlar (id, mesaj) VALUES (1,'mesaj 1')")
con.execute("INSERT INTO mesajlar (id, mesaj) VALUES (2,'mesaj 2')")
con.execute("INSERT INTO mesajlar (id, mesaj) VALUES (3,'mesaj 3')")
con.execute("INSERT INTO mesajlar (id, mesaj) VALUES (4,'mesaj 4')")
con.execute("INSERT INTO mesajlar (id, mesaj) VALUES (5,'mesaj 5')")

#veritbaanlarına autocommit özelliği vardır.
con.commit() #demezsek con.rollback() tetiklenmiş gibi işlemler geri alınır.

In [21]:
imlec = con.execute("SELECT * FROM mesajlar") #cursor nesnesi oluşur.

In [22]:
satirlar = imlec.fetchall()
satirlar #imlec sona geldiğinde boş döner. bu sebeple satırları memorye alalım

[(1, 'mesaj 1'),
 (2, 'mesaj 2'),
 (3, 'mesaj 3'),
 (4, 'mesaj 4'),
 (5, 'mesaj 5')]

In [ ]:
imlec.description #kolonlar hakkında bilgi tutar.

(('id', None, None, None, None, None, None),
 ('mesaj', None, None, None, None, None, None))

In [12]:
kolonlar = [c[0] for c in imlec.description]
kolonlar

['id', 'mesaj']

In [33]:
tekMetin = ""
#--------------
fmt="|{:^10}|{:^50}|"
baslik = fmt.format(*kolonlar)
#print(baslik)
tekMetin = baslik + "\n"
#print("-"*len(baslik))
tekMetin += "-"*len(baslik) +"\n"

#
for satir in satirlar:
     #print(fmt.format(*satir))
     tekMetin +=fmt.format(*satir) +"\n"


#
print(tekMetin)

#dosyaya yazalım
with open("./data/mesajTablosu.txt", mode="w", encoding="UTF-8") as fh:
     fh.write(tekMetin)

|    id    |                      mesaj                       |
---------------------------------------------------------------
|    1     |                     mesaj 1                      |
|    2     |                     mesaj 2                      |
|    3     |                     mesaj 3                      |
|    4     |                     mesaj 4                      |
|    5     |                     mesaj 5                      |

## MSSQL veya Oracle Bağlantı
![alt text](mssqlVeyaOracleBaglanti.png)

In [ ]:
import pyodbc

pyodbc.drivers() #kullanılabilecek driverlar.

['SQL Server',
 'SQL Server Native Client 11.0',
 'Oracle in OraDB19Home1',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

In [37]:
#Driver={ODBC Driver 17 for SQL Server};Server=myServerAddress;Database=myDataBase;UID=myUsername;PWD=myPassword;
#Driver={ODBC Driver 17 for SQL Server};Server=myServerAddress;Database=myDataBase;Trusted_Connection=yes;

config = {
            "driver":"{ODBC Driver 17 for SQL Server}",
            "server":"localhost",
            "database":"master"
}

#baglantı cümesini oluşturalım.
con_str="Driver={driver};Server={server};Database={database};Trusted_Connection=yes;".format_map(config)

#baglantı nesnesi
con = pyodbc.connect(con_str)

In [ ]:
imlec = con.execute("SELECT @@version")
#
print(imlec.fetchone()[0])

Microsoft SQL Server 2019 (RTM-CU32-GDR) (KB5065222) - 15.0.4445.1 (X64)
	Aug 13 2025 11:07:18
	Copyright (C) 2019 Microsoft Corporation
	Enterprise Edition (64-bit) on Windows 10 Pro 10.0 <X64> (Build 19045: ) (Hypervisor)

## Pandas ile okuyalım

In [57]:
import pandas as pd

df = pd.read_sql("SELECT Name,Color, ListPrice FROM AdventureWorks2012.Production.Product",con)
df

#
df.head(3)
df.tail(2)
df.sample(3)

df.describe().T
set(df.Color)

C:\Users\Abdullah\AppData\Local\Temp\ipykernel_6028\129023221.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT Name,Color, ListPrice FROM AdventureWorks2012.Production.Product",con)

{'Black',
 'Blue',
 'Grey',
 'Multi',
 None,
 'Red',
 'Silver',
 'Silver/Black',
 'White',
 'Yellow'}